*.[a|o]
*~
*.swp
*.orig
*.psd
.DS_Store
*.min.js
*.min.css
*.bak
.sass-cache
config.rb
app/Config/bootstrap.php
app/Config/database.php
app/Config/core.php
app/Config/email.php
app/Config/memcached.php
app/Config/sessionKey.php
app/tmp/
/files/
/Model/Datasource/
/Plugin/DebugKit/
.gitmodules
index.php
/webroot/files/*
/webroot/file/
/webroot/static/
/webroot/bower_components/

# grunt && bower 相关
.bowerrc
.jshintrc
.sass-cache/
Gruntfile.js
bower.json
node_modules/
package.json
webroot/js/dist/
