@charset "UTF-8";
/*
 *  signbook 全局scss
 *
 *  生成一个style.css
 */
/*
 *  signbook 自定义变量
 *
 *
 */
@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.ttf") format("truetype");
}

/* line 12, ../sass/style.scss */
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
}

/* line 17, ../sass/style.scss */
.icon-early:before {
  content: "\3432";
}

/* line 18, ../sass/style.scss */
.icon-i_leave:before {
  content: "\3485";
  color: red;
}

/* line 19, ../sass/style.scss */
.icon-outgoing:before {
  content: "\f0043";
}

/* line 20, ../sass/style.scss */
.icon-late:before {
  content: "\f0018";
}

/* line 21, ../sass/style.scss */
.icon-p_leave:before {
  content: "\e611";
}

/* line 22, ../sass/style.scss */
.icon-absent:before {
  content: "\e737";
  color: red;
}

/* line 23, ../sass/style.scss */
.icon-regular:before {
  content: "\e61f";
}

/* line 24, ../sass/style.scss */
.icon-off:before {
  content: "\e66a";
}

/* line 25, ../sass/style.scss */
.icon-special:before {
  content: "？";
}

/* line 28, ../sass/style.scss */
.mgb-20 {
  margin-bottom: 20px;
}

/* line 31, ../sass/style.scss */
.mgb-40 {
  margin-bottom: 40px;
}

/* line 34, ../sass/style.scss */
.btn {
  color: white;
  min-width: 120px;
  border-radius: 8px;
}
/* line 38, ../sass/style.scss */
.btn:hover {
  color: white;
}

/* line 42, ../sass/style.scss */
.color-danger {
  color: #a94442;
}

/* line 45, ../sass/style.scss */
.color-green {
  color: green;
}

/* line 48, ../sass/style.scss */
.color-red {
  color: red;
}

/* line 51, ../sass/style.scss */
.color-yellow {
  color: orange;
}

/* line 54, ../sass/style.scss */
.btn-blue {
  background-color: #5c7cc4;
}

/* line 57, ../sass/style.scss */
.btn-green {
  background-color: #45a152;
}

/* line 60, ../sass/style.scss */
hr {
  width: 100%;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #e1e1e1;
  margin: 20px auto;
}

/* line 66, ../sass/style.scss */
.rest-day {
  background-color: whiteSmoke;
}

/* line 69, ../sass/style.scss */
.flash-danger {
  text-align: center;
  color: red;
  padding: 10px;
}

/* line 74, ../sass/style.scss */
.input-date {
  background-image: url(../img/month.png);
  background-repeat: no-repeat;
  background-position: 270px center;
}

/* line 79, ../sass/style.scss */
.input-file {
  background-image: url(../img/upload.png);
  background-repeat: no-repeat;
  background-position: 270px center;
}

/* line 86, ../sass/style.scss */
body {
  background: url("../img/colorfill.png") left top repeat-x, url("../img/bg.png") repeat;
}

/* line 89, ../sass/style.scss */
header {
  padding: 120px 0 60px 0;
  margin: 10px 0 40px 0;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 93, ../sass/style.scss */
header .logo {
  margin-bottom: 10px;
}
/* line 95, ../sass/style.scss */
header .logo img {
  width: 300px;
}
/* line 99, ../sass/style.scss */
header .title {
  font-size: 30px;
  margin: 0;
  color: #2f1249;
}

/* line 105, ../sass/style.scss */
.sb-container {
  margin: 0 auto;
  width: 300px;
}

/* line 111, ../sass/style.scss */
.sub-title {
  font-size: 14px;
  padding: 20px;
  color: #2f1249;
}

/* line 118, ../sass/style.scss */
.upload-form {
  margin-top: 80px;
}

/* line 121, ../sass/style.scss */
.sb-inline-form-control {
  display: inline-block;
  width: 140px;
}

/* line 125, ../sass/style.scss */
.sb-form-group {
  width: 300px;
  text-align: center;
  margin: 0 auto 20px auto;
}
/* line 130, ../sass/style.scss */
.sb-form-group .sb-help-block {
  margin: 0;
  padding: 10px 0 0 10px;
  text-align: left;
  color: #777;
  font-size: 13px;
}
/* line 138, ../sass/style.scss */
.sb-form-group .sb-help-block-warning {
  color: #a94442;
}
/* line 141, ../sass/style.scss */
.sb-form-group .sb-help-block-success {
  color: #3c763d;
}

/* line 145, ../sass/style.scss */
.uploaded-div {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
  display: none;
}
/* line 154, ../sass/style.scss */
.uploaded-div .uploaded-file .file-name {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  height: 45px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 167, ../sass/style.scss */
.uploaded-div .uploaded-file .file-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/file.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  margin-right: 6px;
}

/* line 180, ../sass/style.scss */
.type-selector {
  display: inline-block;
  width: 140px;
}

/* line 184, ../sass/style.scss */
.table-wrap {
  max-width: 1600px;
  border-radius: 8px;
  margin: 0 auto 40px auto;
  padding: 20px;
  background-color: white;
}
/* line 191, ../sass/style.scss */
.table-wrap .sb-caption {
  font-size: 20px;
  height: 34px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* line 199, ../sass/style.scss */
.table-tag {
  list-style: none;
  padding-right: 20px;
  text-align: right;
}
/* line 204, ../sass/style.scss */
.table-tag li {
  display: inline-block;
  margin-right: 15px;
}

/* line 210, ../sass/style.scss */
.sb-table th {
  background-color: whitesmoke;
}
/* line 213, ../sass/style.scss */
.sb-table td {
  text-align: center;
}

/* line 218, ../sass/style.scss */
.tab-content {
  margin-top: 60px;
}

/* line 223, ../sass/style.scss */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
