/*
 *  signbook 导入外部插件scss
 *
 *  单独生成一个lib.css
 *
 */

//自定义bootstarp的参数变量
$font-family-sans-serif:"方正兰亭黑" "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-face {
  font-family: '方正兰亭黑';
  src: url('../font/FZLTHJW.ttf') format('truetype')  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@import "bootstrap";
@import "lib/bootstrap-datetimepicker";

